.idea
cmake-build-debug
CMakeFiles
Testing
cmake_install.cmake
CMakeCache.txt
pdb.cbp
CTestTestfile.cmake
Makefile
temp.so
CatalogDir*
pdbRoot_*
logs/*
bin/*
libraries/*
pdb/src/objectModel/headers/BuiltInObjectTypeIDs.h
pdb/src/objectModel/headers/BuiltinPDBObjects.cc
pdb/src/objectModel/headers/BuiltinPDBObjects.h
pdb/src/logicalPlan/source/Lexer.c
pdb/src/logicalPlan/source/Parser.c
applications/TestLA/linearAlgebraDSL/source/LALexer.c
applications/TestLA/linearAlgebraDSL/source/LAParser.c
applications/TestLA/tests/Benchmark/*.pdml
applications/TestLA/tests/Benchmark/*.data
/.autotools
/.project
