<div class="animated fadeIn" ng-controller="JobDataCtrl">
    <div class="card">
        <div class="card-header">
            Type Information
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="callout callout-info">
                                <small class="text-muted">Job ID</small>
                                <br>
                                <strong class="h4">{{job['id']}}</strong>
                            </div>
                        </div>

                        <div class="col">
                            <div class="callout callout-danger">
                                <small class="text-muted">Status</small>
                                <br>
                                <strong class="h4">{{job['status']}}</strong>
                            </div>
                        </div>

                        <div class="col">
                            <div class="callout callout-warning">
                                <small class="text-muted">Started</small>
                                <br>
                                <strong>{{job['started'].toLocaleTimeString()}}</strong>
                                <div class="small text-muted">{{job['started'].toDateString()}}</div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="callout callout-success">
                                <small class="text-muted">Ended</small>
                                <br>
                                <strong>{{job['ended'].toLocaleTimeString()}}</strong>
                                <div class="small text-muted">{{job['ended'].toDateString()}}</div>
                            </div>
                        </div>

                    </div>

                    <hr class="mt-0">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a tab class="nav-link active" data-toggle="tab" href="#tcap" role="tab">TCAP</a>
                        </li>
                        <li class="nav-item">
                            <a tab class="nav-link" data-toggle="tab" href="#job-stages" role="tab">Job Stages</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="tcap" role="tabpanel">
                            <div>{{job['tcap-string']}}</div>
                        </div>
                        <div class="tab-pane p-3" id="job-stages" role="tabpanel">
                            <div>job stages</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>